<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotToken" value="xxxxxxxxxxxxx"/>
		<add key="LocalHttpServerIp" value="127.0.0.1"/>
		<!-- localhost/127.0.0.1 are not valid, valid addresses are public IPs-->
		<add key="LocalHttpServerPort" value="8181"/>
		<add key="MyTelegramId" value="xxxxxxx"/>
		<add key="PayGramToken" value="x1y2z3"/>
		<add key="CertFile" value="test_cert.pfx"/>
		<add key="CertPassword" value="1234"/>
	</appSettings>
</configuration>		 

